$color-primary: #FFFFFF;
$color-additional: #478BF9;
$color-paragraphs: rgba(255, 255, 255, 0.60);

$color-background: #110A1D;
$color-background-light: rgba(255, 255, 255, 0.12);
$color-article-background: #1E1231;

$color-border: #478BF9;
$color-border-btn: #9DADF2;
$color-btn: #478BF9;

$content-width: 1920px;
