.wrapper {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 15px;


  @include media-mobile {
    padding: 0 21px;
  }
}